.lp,
.lp body {
    background: #f7f7f7;
    box-sizing: border-box;
    color: #282828;
    font-family:
        "Open Sans",
        sans-serif;
    font-size: 13px;
    height: 100%;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.lp hr {
    border: none;
    border-top: 1px solid #aaa;
    margin: 25px 0;
}

.lp input,
.lp select,
.lp textarea {
    color: #282828;
    font-family:
        "Open Sans",
        sans-serif;
    font-size: 13px;
}

.lp h2 {
    margin: 0 0 30px;
}

.lp h3 {
    margin: 0 0 15px;
}

.lp .hover {
    background: #fcefa9;
}

.lp .tooltip {
    background: #444;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #00000040;
    color: #fff;
    display: none;
    padding: 3px;
    position: absolute;
    z-index: 105;
}

.lp *,
.lp ::after,
.lp ::before {
    box-sizing: inherit;
}

.lpHref {
    color: #1b77d3;
    cursor: pointer;
    text-decoration: none;
}

.lpHref:hover {
    text-decoration: underline;
}

.lpInvisible {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.lpNotSupported {
    background: #ce1836;
    color: #fff;
    font-size: 24px;
    padding: 100px;
    text-align: center;
}

.lpNumber {
    text-align: right;
}

.lpAdd,
.lpCopy {
    color: #7ab317;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.lpAdd i,
.lpCopy i {
    margin-right: 5px;
}

.lpAdd:hover,
.lpCopy:hover {
    text-decoration: underline;
}

#sidebar .lpAdd,
#sidebar .lpCopy {
    color: #7ab317;
}

.lpHalf {
    float: left;
    width: 50%;
}

#lp,
#main {
    background: inherit;
}

#main {
    margin: 0 auto;
    max-width: 960px;
    min-height: 100%;
    position: relative;
    text-align: left;
    transition: all 0.4s;
}

#main.lpHasSidebar {
    max-width: 1280px;
}

.lpRemove {
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 8px;
    margin-bottom: 3px;
    opacity: 0.4;
    padding: 5px 6px 6px;
    visibility: hidden;
}

.lpRemove:hover {
    background: #ce1836;
    box-shadow: inset 0 3px 3px #00000040;
    opacity: 1;
}

.lpHandle {
    background: url("../images/handle.png");
    cursor: move;
    cursor: grab;
    float: left;
    height: 24px;
    margin-top: 2px;
    visibility: hidden;
    width: 12px;
}

.lpAlignRight {
    text-align: right;
}

.lpLegend {
    border: 1px solid #fff;
    display: block;
    height: 10px;
    width: 10px;
}

.lpFields input[type='email'],
.lpFields input[type='password'],
.lpFields input[type='text'],
.lpFields textarea {
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    margin: 0 0 15px;
    padding: 10px;
    width: 100%;
}

.lpFields input[type='email']:focus,
.lpFields input[type='password']:focus,
.lpFields input[type='text']:focus,
.lpFields textarea:focus {
    border-color: #efa026;
    outline: none;
}

.lpButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.lpButtons > * {
    margin-bottom: 15px;
}

.lpButtons > :last-child {
    margin-bottom: 0;
}

.lp .lpButton {
    background-image: linear-gradient(165deg, #efa026 50%, #ee801c);
    background-position: 100% 100%;
    background-size: 200%;
    border: none;
    border-radius: 4px;
    box-shadow:
        inset 0 0 1px #fff0,
        0 0 2px #0003;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    padding: 8px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 15%);
    transition: all 0.2s;
    width: auto;
}

.lp .lpButton.lpSmall {
    font-size: 13px;
    padding: 5px 10px;
}

.lp .lpButton:active,
.lp .lpButton:hover:not(:disabled) {
    background-position: 0 0;
    box-shadow:
        inset 0 0 1px #ffffff80,
        0 1px 3px #81420a;
}

.lp .lpButton:active,
.lp .lpButton:focus {
    outline: none;
}

.lp .lpButton:focus:not(:active) {
    box-shadow:
        inset 0 0 0 1px #b05b0d,
        0 1px 3px #81420a;
    outline: none;
}

.lp .lpButton::-moz-focus-inner {
    border: none;
}

.lp .lpButton.lpButtonDisabled,
.lp .lpButton:disabled {
    cursor: default;
    opacity: 0.5;
}

.lpButtons .lpButton {
    width: 100%;
}

.lpListSummary {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lpTable {
    display: table;
    margin: 0;
    padding: 0;
}

.lpRow {
    display: table-row;
}

.lpRow:first-child > .lpCell {
    border-top: none;
}

.lpRow.lpHeader .lpCell {
    border-bottom: 1px solid #aaa;
    vertical-align: bottom;
}

.lpRow.lpHeader + .lpRow .lpCell {
    border-top: none;
}

.lpFooter .lpCell {
    border-top: 1px solid #aaa;
}

.lpCell {
    border-top: 1px dotted #aaa;
    display: table-cell;
    padding: 1px 8px;
}

.lpCell:first-child {
    padding-left: 0;
}

.lpCell:last-child {
    padding-right: 0;
}

.lpHeader,
.lpSubtotal {
    font-weight: 600;
}

.lpHeader + .lpItem,
.lpSubtotal + .lpItem {
    border-top: none;
}

.lpError {
    color: #ce1836;
}

.lpSuccess {
    color: #5b8611;
}

.lpWarning {
    background: #fcefa9;
    border: 1px solid #a58c00;
    border-radius: 5px;
    padding: 10px;
}

#lpImageDialog {
    width: auto;
}

#lpImageDialog img {
    max-width: 800px;
}

#lpFooter {
    color: #777;
    padding: 150px 0 20px;
}

#lpFooter,
#lpWelcomeFooter {
    display: flex;
    justify-content: space-between;
}

#lpWelcomeFooter {
    background: #ffffffa6;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 999999999;
}

.lpHasBlackout #lpWelcomeFooter {
    display: block;
}

.lpCategory .lpHeader:hover .lpHandle,
.lpCategory .lpHeader:hover .lpRemove,
.lpLibraryItem:hover .lpHandle,
.lpLibraryItem:hover .lpRemove,
.lpLibraryList:hover .lpRemove {
    visibility: visible;
}

.lpList {
    background: inherit;
    min-height: 100%;
    padding: 0 20px;
    position: relative;
    z-index: 30;
}

.lpList.lpTransition {
    transition: all 0.4s;
}

.lpHasSidebar .lpList {
    margin-left: 320px;
}

#totals {
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
}

#chart.activeHover {
    cursor: pointer;
}

.lpCategories {
    margin: 0;
    padding: 0;
}

.lpCategory {
    border: 2px solid transparent;
    list-style: none;
    margin: 0 0 20px;
}

.lpCategory.dropAccept {
    background: #fcefa9;
}

.lpCategory.dropHover {
    background: #a8d46f;
}

.lpCategory.sortable-drag {
    background: #f7f7f7;
    border: 1px solid #999;
}

#lpListDescription h2 {
    border-bottom: 1px solid #aaa;
}

input.lpCategoryName {
    border: 1px solid transparent;
    flex: 1 0 300px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
}

.lpSubtotal {
    text-align: right;
    white-space: nowrap;
}

.lpSubtotalUnit {
    border-left: 1px solid transparent;
    display: inline-block;
    padding-left: 5px;
    padding-right: 23px;
    width: 43px;
}

.lpDisplaySubtotal,
.lpTotalValue {
    padding-right: 4px;
}

.lpItems {
    margin: 0;
    padding: 0;
    width: 100%;
}

.lpItem,
.lpItemsFooter,
.lpItemsHeader {
    align-items: center;
    border-top: 1px dotted #aaa;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.lpItem.sortable-drag,
.lpItemsFooter.sortable-drag,
.lpItemsHeader.sortable-drag {
    background: #f7f7f7;
    border: 1px solid #999;
}

.lpItem .lpHandleCell,
.lpItemsFooter .lpHandleCell,
.lpItemsHeader .lpHandleCell {
    flex: 0 0 12px;
    padding-right: 4px;
}

.lpItem .lpImageCell,
.lpItemsFooter .lpImageCell,
.lpItemsHeader .lpImageCell {
    flex: 0 0 90px;
}

.lpItem .lpImageCell .lpItemImage,
.lpItemsFooter .lpImageCell .lpItemImage,
.lpItemsHeader .lpImageCell .lpItemImage {
    cursor: pointer;
    max-width: 90px;
    position: relative;
    top: 3px;
}

.lpItem .lpName,
.lpItemsFooter .lpName,
.lpItemsHeader .lpName {
    flex: 1 1 150px;
    margin-right: 4px;
    min-width: 50px;
}

.lpItem .lpDescription,
.lpItemsFooter .lpDescription,
.lpItemsHeader .lpDescription {
    flex: 2 0 200px;
    margin-right: 4px;
    min-width: 100px;
}

.lpItem .lpActionsCell,
.lpItemsFooter .lpActionsCell,
.lpItemsHeader .lpActionsCell {
    align-self: center;
    flex: 0 0 130px;
}

.lpItem .lpWeightCell,
.lpItemsFooter .lpWeightCell,
.lpItemsHeader .lpWeightCell {
    flex: 0 0 110px;
}

.lpItem .lpWeightCell .lpWeight,
.lpItemsFooter .lpWeightCell .lpWeight,
.lpItemsHeader .lpWeightCell .lpWeight {
    width: 50px;
}

.lpItem .lpPriceCell,
.lpItemsFooter .lpPriceCell,
.lpItemsHeader .lpPriceCell {
    flex: 0 0 66px;
    margin-right: 4px;
}

.lpItem .lpPriceCell .lpPrice,
.lpItemsFooter .lpPriceCell .lpPrice,
.lpItemsHeader .lpPriceCell .lpPrice {
    width: 66px;
}

.lpItem .lpQtyCell,
.lpItemsFooter .lpQtyCell,
.lpItemsHeader .lpQtyCell {
    flex: 0 0 60px;
}

.lpItem .lpQtyCell .lpQty,
.lpItemsFooter .lpQtyCell .lpQty,
.lpItemsHeader .lpQtyCell .lpQty {
    width: 39px;
}

.lpItem .lpRemoveCell,
.lpItemsFooter .lpRemoveCell,
.lpItemsHeader .lpRemoveCell {
    align-self: center;
    flex: 0 0 20px;
}

.lpItem .lpAddItemCell,
.lpItem .lpCategoryName,
.lpItemsFooter .lpAddItemCell,
.lpItemsFooter .lpCategoryName,
.lpItemsHeader .lpAddItemCell,
.lpItemsHeader .lpCategoryName {
    flex: 1 1 auto;
}

.lpItemsHeader {
    align-items: flex-end;
    border-bottom: 1px solid #aaa;
    border-top: none;
    height: 31px;
}

.lpItemsFooter {
    border-top-style: solid;
    justify-content: flex-end;
}

.lpActionsCell .lpCamera,
.lpActionsCell .lpConsumable,
.lpActionsCell .lpLink,
.lpActionsCell .lpStar,
.lpActionsCell .lpWorn {
    cursor: pointer;
    margin-right: 8px;
    opacity: 0.5;
    visibility: hidden;
}

.lpActionsCell .lpCamera:hover,
.lpActionsCell .lpConsumable:hover,
.lpActionsCell .lpLink:hover,
.lpActionsCell .lpStar:hover,
.lpActionsCell .lpWorn:hover {
    opacity: 1;
}

.lpActionsCell .lpCamera.lpActive,
.lpActionsCell .lpCamera.lpStar1,
.lpActionsCell .lpCamera.lpStar2,
.lpActionsCell .lpCamera.lpStar3,
.lpActionsCell .lpConsumable.lpActive,
.lpActionsCell .lpConsumable.lpStar1,
.lpActionsCell .lpConsumable.lpStar2,
.lpActionsCell .lpConsumable.lpStar3,
.lpActionsCell .lpLink.lpActive,
.lpActionsCell .lpLink.lpStar1,
.lpActionsCell .lpLink.lpStar2,
.lpActionsCell .lpLink.lpStar3,
.lpActionsCell .lpStar.lpActive,
.lpActionsCell .lpStar.lpStar1,
.lpActionsCell .lpStar.lpStar2,
.lpActionsCell .lpStar.lpStar3,
.lpActionsCell .lpWorn.lpActive,
.lpActionsCell .lpWorn.lpStar1,
.lpActionsCell .lpWorn.lpStar2,
.lpActionsCell .lpWorn.lpStar3 {
    opacity: 1;
    visibility: visible;
}

.lpActionsCell i:last-child {
    margin-right: 0;
}

.lpHeader .lpPriceCell,
.lpHeader .lpQtyCell,
.lpHeader .lpWeightCell {
    text-align: center;
}

@media print {
    #container,
    #content,
    body {
        background: #fff;
        float: none;
        margin: 0;
        width: 100%;
    }

    #hamburger,
    #lpFooter,
    #sidebar,
    #topRight,
    .ad,
    .addCategory,
    .lpAddItem,
    .lpExpand,
    .noprint,
    hr {
        display: none;
    }

    .lpHasSidebar .lpList,
    .lpListName {
        margin-left: 0;
    }

    .lpActionsCell .lpCamera,
    .lpActionsCell .lpLink,
    .lpHandleCell,
    .lpItems .lpFooter > .lpCell:first-child,
    .lpQtyCell .lpArrows,
    .lpRemoveCell {
        display: none !important;
    }

    .lpActionsCell {
        width: 80px !important;
    }

    .lpQtyCell {
        width: 20px !important;
    }

    .lpWeightCell {
        width: 99px !important;
    }
}

#main.lpShare,
.lpList {
    transition: none !important;
}

.lpShare .lpCategoryName {
    font-size: 18px;
    margin: 0;
}

.lpShare .lpItem:hover {
    background: #fff;
}

.lpShare .lpItem .lpActionsCell {
    flex-basis: 75px;
}

.lpShare .lpItem.lpItemHasImage .lpImageCell {
    padding-right: 5px;
}

.lpShare #lpListDescription {
    margin: 30px 0;
}

.lpUnitSelect {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    position: relative;
}

.lpUnitSelect.lpHover,
.lpUnitSelect:hover {
    background: #fff;
    border: 1px solid #ccc;
}

.lpUnitSelect.lpHover i,
.lpUnitSelect:hover i {
    opacity: 1;
}

.lpUnitSelect i {
    opacity: 0.6;
}

.lpUnitSelect.lpOpen {
    background: #fff;
}

.lpUnitSelect.lpOpen .lpUnitDropdown {
    display: block;
}

.lpUnitSelect .lpDisplay {
    display: inline-block;
    width: 1.1em;
}

.lpUnitSelect .lpUnitDropdown {
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: -1px;
    z-index: 31;
}

.lpUnitSelect .lpUnitDropdown.lb {
    top: -30px;
}

.lpUnitSelect .lpUnitDropdown.g {
    top: -55px;
}

.lpUnitSelect .lpUnitDropdown.kg {
    top: -81px;
}

.lpUnitSelect .lpUnitDropdown li {
    list-style: none;
    padding: 2px 14px;
}

.lpUnitSelect .lpUnitDropdown li:hover {
    background: #1b77d3;
    color: #fff;
}

.lpDialog {
    animation: fadein 0.25s linear 0s 1 forwards;
    background: #f7f7f7;
    box-shadow: 0 0 30px #0006;
    left: 50%;
    opacity: 0;
    padding: 35px;
    position: fixed;
    text-align: left;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
    width: 350px;
    z-index: 100;
}

.lpDialog.fadeout {
    animation: fadeout 0.25s linear 0s 1 forwards;
}

.lpModalOverlay {
    animation: fadein 0.25s linear 0s 1 forwards;
    background: #00000080;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lpModalOverlay.fadeout {
    animation: fadeout 0.25s linear 0s 1 forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (width <= 720px) {
    .lpChart {
        max-width: 100%;
    }

    .lpItems {
        position: relative;
    }

    .lpItems .lpWeightCell {
        flex-basis: 100px;
    }

    .lpItems .lpPriceCell {
        flex-basis: 65px;
    }

    .lpItems .lpHeader .lpPriceCell,
    .lpItems .lpHeader .lpQtyCell,
    .lpItems .lpHeader .lpWeightCell {
        display: none;
    }

    .lpItems .lpFooter {
        justify-content: flex-end;
    }

    .lpItems .lpFooter .lpQtyCell {
        display: none;
    }

    .lpItem {
        align-items: baseline;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding: 3px 0;
    }

    .lpShowImages .lpItem.lpItemHasImage {
        min-height: 90px;
        padding-left: 100px;
        position: relative;
    }

    .lpShowImages .lpItem.lpItemHasImage .lpImageCell {
        height: 90px;
        left: 0;
        position: absolute;
        top: 0;
        width: 90px;
    }

    .lpItem .lpImageCell {
        flex-basis: 0;
    }

    .lpItem .lpName {
        flex-basis: 90px;
        font-weight: 700;
        order: 2;
    }

    .lpItem .lpQtyCell {
        flex-basis: auto;
        order: 1;
    }

    .lpItem .lpQtyCell[qty1] {
        display: none;
    }

    .lpItem .lpQtyCell::after {
        content: ' x ';
        display: inline;
        margin-right: 5px;
    }

    .lpItem .lpPriceCell {
        order: 4;
    }

    .lpItem .lpWeightCell {
        order: 5;
    }

    .lpItem .lpDescription {
        flex-basis: calc(100% - 50px);
        order: 98;
    }

    .lpItem .lpActionsCell {
        flex: 0 0 auto;
        order: 99;
        padding: 0 10px;
        text-align: right;
    }

    .lpItem .lpActionsCell .lpHidden,
    .lpItem .lpActionsCell i:not(.lpActive) {
        display: none;
    }

    #lpImageDialog {
        padding: 5px;
        width: 90%;
    }

    #lpImageDialog img {
        display: block;
        max-width: 100%;
    }
}

@media only screen and (width <= 480px) {
    .lpListSummary {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .lpChartContainer {
        max-width: 200px;
    }
}

.lpSprite {
    background-image: url("../images/sprite2x.png?v=2");
    background-size: 400px;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    position: relative;
    top: 2px;
    width: 14px;
}

.lpSprite.hidden {
    visibility: hidden;
}

.lpSpriteAdd {
    background-position: 0 0;
}

.lpSpriteUpload {
    background-position: -250px 0;
}

.lpSpriteDownload {
    background-position: -250px -25px;
}

.lpSpriteCopy {
    background-position: 0 -50px;
}

.lpSpriteRemove {
    background-position: -25px 0;
    height: 8px;
    top: 0;
    width: 8px;
}

.lpRemove:hover .lpSpriteRemove {
    background-position: -25px -25px;
}

.lpWorn {
    background-position: -50px 0;
    width: 17px;
}

.lpWorn.lpActive {
    background-position: -50px -25px;
}

.lpWorn.lpWornOne {
    background-position: -50px -50px;
}

.lpLinkBig {
    background-position: -75px 0;
    height: 20px;
    width: 18px;
}

.lpCamera {
    background-position: -100px 0;
    width: 18px;
}

.lpExpand {
    background-position: -125px 0;
}

.lpHamburger {
    background-position: -150px 0;
    height: 20px;
    width: 20px;
}

.lpLink {
    background-position: -175px 0;
    width: 13px;
}

.lpLink.lpActive {
    background-position: -175px -25px;
}

.lpUp {
    background-position: -200px 0;
}

.lpDown,
.lpUp {
    height: 7px;
    width: 7px;
}

.lpDown {
    background-position: -200px -25px;
}

.lpStar {
    background-position: -225px 0;
    height: 14px;
    width: 14px;
}

.lpStar.lpStar1 {
    background-position: -225px -25px;
}

.lpStar.lpStar2 {
    background-position: -225px -50px;
}

.lpStar.lpStar3 {
    background-position: -225px -75px;
}

.lpConsumable {
    background-position: -275px 0;
    width: 17px;
}

.lpConsumable.lpActive {
    background-position: -275px -25px;
}

.lpSettings {
    background-position: -300px 0;
}
