@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}

.lpSpinner::before {
    animation: spinner 0.6s linear infinite;
    border: 1px solid #efa026;
    border-radius: 50%;
    border-top-color: transparent;
    content: '';
    display: block;
    height: 18px;
    width: 18px;
}

.lpButton .lpSpinner {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.lpButton .lpSpinner::before {
    border-color: transparent #f7f7f7 #f7f7f7;
}

.lpButton.lpSmall .lpSpinner {
    right: 50%;
    transform: translateY(-50%) translate(50%);
}

.lpGlobalAlerts {
    background: #f2d000;
    border: 1px solid #a58c00;
    border-radius: 0 0 10px 10px;
    border-top: none;
    left: 50%;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transform: translate(-50%);
    width: 50%;
    z-index: 110;
}

.lpGlobalAlert {
    border-bottom: 1px solid #a58c00;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.lpGlobalAlert:last-child {
    border-bottom: none;
}
