.bwList {
    background: inherit;
    min-height: 100%;
    padding: 0 20px;
    position: relative;
    z-index: var(--above-sidebar);

    &.bwTransition {
        transition: all var(--transition-duration-slow);
    }

    .bwHasSidebar & {
        margin-left: 280px;
    }

    @media only screen and (width < 900px) {
        .bwHasSidebar & {
            margin-left: 0;
        }
    }
}

#totals {
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
}

#chart.activeHover {
    cursor: pointer;
}

.bwCategories {
    margin: 0;
    padding: 0;
}

.bwCategory {
    border: 2px solid transparent;
    list-style: none;
    margin: 0 0 20px;

    &.dropAccept {
        background: var(--yellow2);
    }

    &.dropHover {
        background: var(--green2);
    }

    &.sortable-drag {
        background: #f7f7f7;
        border: 1px solid #999;
    }
}

#bwListDescription {
    h2 {
        border-bottom: 1px solid #aaa;
    }
}

input.bwCategoryName {
    /* specificity */
    border: 1px solid transparent;
    flex: 1 0 300px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
}

.bwSubtotal {
    text-align: right;
    white-space: nowrap;
}

.bwSubtotalUnit {
    border-left: 1px solid transparent;
    display: inline-block;
    padding-left: 5px;
    padding-right: 23px;
    width: 43px;
}

.bwDisplaySubtotal,
.bwTotalValue {
    padding-right: 4px;
}

.bwItems {
    margin: 0;
    padding: 0;
    width: 100%;
}

.bwItem,
.bwItemsHeader,
.bwItemsFooter {
    align-items: center;
    border-top: 1px dotted #aaa;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    &.sortable-drag {
        background: #f7f7f7;
        border: 1px solid #999;
    }

    .bwHandleCell {
        flex: 0 0 12px;
        padding-right: 4px;
    }

    .bwImageCell {
        flex: 0 0 90px;

        .bwItemImage {
            cursor: pointer;
            max-width: 90px;
            position: relative;
            top: 3px;
        }
    }

    .bwName {
        flex: 1 1 150px;
        margin-right: 4px;
        min-width: 50px;
    }

    .bwDescription {
        flex: 2 0 200px;
        margin-right: 4px;
        min-width: 100px;
    }

    .bwActionsCell {
        align-self: center;
        flex: 0 0 130px;
    }

    .bwWeightCell {
        flex: 0 0 110px;

        .bwWeight {
            width: 50px;
        }
    }

    .bwPriceCell {
        flex: 0 0 66px;
        margin-right: 4px;

        .bwPrice {
            width: 66px;
        }
    }

    .bwQtyCell {
        flex: 0 0 60px;

        .bwQty {
            width: 39px;
        }
    }

    .bwRemoveCell {
        align-self: center;
        flex: 0 0 20px;
    }

    .bwCategoryName {
        /* Header */
        flex: 1 1 auto;
    }

    .bwAddItemCell {
        /* Footer */
        flex: 1 1 auto;
    }
}

.bwItemsHeader {
    align-items: flex-end;
    border-bottom: 1px solid #aaa;
    border-top: none;
    height: 31px;
}

.bwItemsFooter {
    border-top-style: solid;
    justify-content: flex-end;
}

@media only screen and (width < 900px) {
    .bwItem,
    .bwItemsHeader,
    .bwItemsFooter {
        .bwHandleCell {
            display: none;
        }

        .bwImageCell {
            display: none;
        }

        .bwWeightCell {
            flex: 0 0 auto;
        }

        .bwPriceCell {
            flex: 0 0 auto;
        }

        .bwQtyCell {
            flex: 0 0 auto;
        }

        .bwRemoveCell {
            display: none;
        }

        .bwActionsCell {
            flex: 0 0 auto;
        }

        .bwDescription {
            flex-basis: 100%;
        }
    }
}

.bwActionsCell {
    .bwWorn,
    .bwConsumable,
    .bwCamera,
    .bwLink,
    .bwStar {
        cursor: pointer;
        margin-right: 8px;
        opacity: 0.5;
        visibility: hidden;

        &:hover {
            opacity: 1;
        }

        &.bwActive,
        &.bwStar1,
        &.bwStar2,
        &.bwStar3 {
            opacity: 1;
            visibility: visible;
        }
    }

    i:last-child {
        margin-right: 0;
    }
}

.bwHeader {
    .bwWeightCell,
    .bwQtyCell,
    .bwPriceCell {
        text-align: center;
    }
}
