@media print {
    body,
    #content,
    #container {
        background: #fff;
        float: none;
        margin: 0;
        width: 100%;
    }

    #topRight,
    #sidebar,
    .addCategory,
    .bwAddItem,
    .bwExpand,
    .ad,
    .noprint,
    #bwFooter,
    hr,
    #hamburger {
        display: none;
    }

    .bwHasSidebar .bwList,
    .bwListName {
        margin-left: 0;
    }

    .bwHandleCell,
    .bwItems .bwFooter > .bwCell:first-child,
    .bwRemoveCell,
    .bwActionsCell .bwLink,
    .bwActionsCell .bwCamera,
    .bwQtyCell .bwArrows {
        display: none !important;
    }

    .bwActionsCell {
        width: 80px !important;
    }

    .bwQtyCell {
        width: 20px !important;
    }

    .bwWeightCell {
        width: 99px !important;
    }
}
